table {
    width: 100%;
}

.element-detail {
    overflow: hidden;
    display: flex;
}

tr.element-row:not(.expanded-row):hover {
    background: #777;
}
  
tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
}

tr.detail-row {
    height: 0;
}

.submit-button {
    margin: 15px;
}

.inner-table {
    width: 100%;
}

.row-details-component {
    width: 100%;
}